/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2018, 4:24:55 PM
    Author     : Rose
*/
/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    width: 400px;
}
h1 {     
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;    
}
h2 {     
    font-size: 120%;
    color: teal;
    margin-bottom: .5em;    
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
input[type="text"], input[type="email"], input[type="password"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
nav { font-weight: bold;
    padding: 5px; 
}
span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}
br {
    clear: both;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}

